* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'inter';
    src: url(/src/fonts/Inter-Regular.ttf);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    font-family: 'inter', sans-serif;
    color:hsl(0, 0%, 100%);
    font-size: 14px;
}

.container {
    background-color: hsl(0, 0%, 12%);
    max-width: 90%;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 1.5rem;
}

.avatar {
   width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
    margin:24px 24px 24px 24px;
}

.city {
   font-weight: 700;
   color:hsl(75, 94%, 57%);
   padding-top: 10px;
   padding-bottom:10px;
}

.bio {
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    padding-top: 20px;
    padding-bottom: 20px;
}
.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {   
    padding: 15px 20px;
    width: 240px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin: 0px 18px 18px 18px;
}

button:hover {
background-color: hsl(75, 94%, 57%);
color: hsl(0, 0%, 8%);
}

@media (min-width: 400px) {
    .container {
        min-width: 350px; }
    }