* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'inter';
    src: url(/src/fonts/Inter-Variable.ttf);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 0%);
    font-family: 'inter', sans-serif;
    color:hsl(0, 0%, 100%);
    font-size: 14px;
}

.container {
    background-color: hsl(0, 0%, 20%);
    max-width: 320px;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 1.5rem;
}

.avatar {
    max-width: 50%;
    border-radius: 150px;
    padding: 30px;
}

.city {
    font-weight: 700;
   color:hsl(75, 94%, 57%);
   padding-top: 10px;
   padding-bottom:30px;
}